*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#111;
color:white;
}

.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url('https://images.unsplash.com/photo-1516035069371-29a1b244cc32') center center;
background-size:cover;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.login-container{
position:relative;
z-index:2;
width:400px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
text-align:center;
}

.login-container h1{
font-size:38px;
margin-bottom:10px;
color:#D4AF37;
}

.login-container p{
margin-bottom:30px;
}

.login-container input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

.login-container button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.login-container button[type="submit"]{
background:#D4AF37;
color:black;
font-weight:bold;
}

.google-btn{
margin-top:10px;
background:white;
color:black;
font-weight:bold;
}

.login-container a{
display:block;
margin-top:15px;
color:white;
text-decoration:none;
}
